[Unit]
Description=Streams video from an attached Camera to a TCP socket.
Wants=network-online.target
After=network-online.target

[Service]
User=root
ExecStart=/home/pi/stream_video.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
